<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="Foo" type="log4net.Appender.FileAppender">                                  <!--Appender settings-->
            <file value="log.txt" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message" />
            </layout>
        </appender>
        <appender name="FooConsole" type="log4net.Appender.ConsoleAppender">                        <!--Another appender-->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="FooRolling" type="log4net.Appender.RollingFileAppender">                    <!--Yet another appender that rolls over the previous ones -->
            <file value="logs/rolling.log" />                                                       <!--Put in this log name in this folder-->
            <appendToFile value="true" />
            <rollingStyle value="Size" />                                                           <!--Create new log file when the current one gets to a size-->    
            <maxSizeRollBackups value="5" />                                                        <!--Overwrite files after there are 5-->
            <maximumFileSize value="15KB" />                                                        <!--Create a NEW log file after size is 15k-->
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
           <appender name="FooRollingFiltered" type="log4net.Appender.RollingFileAppender">                    <!--Yet another appender that rolls over the previous ones -->
            <file value="logs/rolling.filter.log" />                                                       <!--Put in this log name in this folder-->
            <filter type ="log4net.filter.LevelRangeFilter">
                <LevelMin value="WARN" />                                                           <!--Look for warning levels from this...--> 
                <LevelMax value="ERROR" />                                                          <!--to this.-->
            </filter>
            <appendToFile value="true" />
            <rollingStyle value="Size" />                                                           <!--Create new log file when the current one gets to a size-->    
            <maxSizeRollBackups value="5" />                                                        <!--Overwrite files after there are 5-->
            <maximumFileSize value="15KB" />                                                        <!--Create a NEW log file after size is 15k-->
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="FooRollingFilteredMatch" type="log4net.Appender.RollingFileAppender">       <!--Yet another appender that rolls over the previous ones -->
            <file value="logs/rolling.filter.log" />                                               
            <filter type ="log4net.filter.StringMatchFilter">                                       <!--Going to match a string inside the text-->    
              <stringToMatch value="minor" />                                                       <!--Look for the word "minor" in the text of the log line-->
            </filter>
            <filter type ="log4net.filter.DenyAllFilter">                                           <!--This is needed to prevent it from logging everything. It's a Drop all statement-->
            </filter>
            <appendToFile value="true" />
            <rollingStyle value="Size" />                                                           
            <maxSizeRollBackups value="5" />                                                        
            <maximumFileSize value="15KB" />                                                        
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
         <appender name="FooRollingLevelMatch" type="log4net.Appender.RollingFileAppender">       <!--Yet another appender that rolls over the previous ones -->
            <file value="logs/rolling.filter.log" />                                                
            <filter type ="log4net.Filter.LevelMatchFilter">                                       <!--Going to match this errorlevel-->    
              <levelToMatch value="INFO" />
            </filter>
            <filter type ="log4net.Filter.LevelMatchFilter">                                       <!--Going to match or this errorlevel-->    
              <levelToMatch value="FATAL" />
            </filter>
            <filter type ="log4net.filter.DenyAllFilter">                                           <!--This is needed to prevent it from logging everything. It's a Drop all statement-->
            </filter>
            <appendToFile value="true" />
            <rollingStyle value="Size" />                                                            
            <maxSizeRollBackups value="5" />                                                        
            <maximumFileSize value="15KB" />                                                        
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
        <appender name="FooCSV" type="log4net.Appender.RollingFileAppender">                          <!--This is a custom CSV Appender-->
            <file value="logs/myapplog.csv" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="1MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Csv.CsvLayout, log4net.Csv">
                <header type="log4net.Util.PatternString" value="thread,level,class,method,message,utcdate,exception%newline" />
                <fields value="thread,level,class,method,message,utcdate,exception" />
            </layout>
        </appender>
        <root>
            <level value="debug" />                                                                   <!--Catch all these log levels, and above-->
            <!--<appender-ref ref="Foo" />-->                                                                <!--Run all these log appenders-->  
            <!--<appender-ref ref="FooConsole" />-->
            <!--<appender-ref ref="FooRolling" />-->
            <appender-ref ref="FooRollingLevelMatch" />
            <!--<appender-ref ref="FooCSV" />-->
        </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>