@page "/counter"

@inject ILogger<Counter> Log




<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>




@code {
    private int currentCount = 0;

    protected override void OnInitialized()
	{
        
        Log.LogInformation($"The counter page has been initialized for {Environment.MachineName}");
       
	}

    private void IncrementCount()
    {
        currentCount++;
        Log.LogInformation($"The counter has been incremented to {currentCount} for {Environment.MachineName}");
    }
}
